.nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
.nav ul{
  display: flex;
}
li{
  list-style-type: none;
  text-decoration: none;
  padding: 20px;
  font-weight: 400;
}
li:hover{
    color: green;
}
.link{
  text-decoration: none;
  padding: 10px;
}